.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color: hsl(0, 0%, 94%);
    font-family: "Outfit", sans-serif;
    font-size: 15px;
}

.container{
    background-color: white;
    margin: auto;
    max-width: 40em;
    max-height: 30em;
    padding: 1.5em;
    margin-top: 10%;
    border-radius: 10px 10px 80px 10px;
}

.user-input input{
    font-size: 1.5vw;
    max-width: 4em;
    margin-right: 1.5em;
    margin-bottom: 0;
    font-weight: bold;
    padding: .5em;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    
}

.decoration{
    display: flex;
    flex-direction: row;
    float: left;
}

.user-input input:focus{
    border-color: hsl(259, 100%, 65%);
}

hr{
    height: 1px;
    width: 35em;
    display: block;
    background-color: black;
    margin: auto;
}
.user-input p{
    margin: 0;
}

.input-date{
    display: flex;
    flex-direction: row;
    
}

.input-button{
    background-color: hsl(259, 100%, 65%);
    
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    margin-left: 0px;
    padding-left: 10px;
    padding-top: 10px;
    

}

.result{
    margin-top: 10%;
    color: hsl(259, 100%, 65%);
    font-size: 2vw;
    font-style: italic;
}
.date-text h1{
    
    display: inline;
    
}

.static-text{
    display: inline;
    color: black;
    font-style: italic;
    font-size: 2vw;
    
}

@media(max-width:700px){
    .container{
        
    }
    
}

